body {
    font-family: sans-serif;
  }
  .container {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    background-color: plum;
    margin: 0 auto;
    padding: 20px;
  }
  .label {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .input {
    padding: 4px;
    letter-spacing: 0.5px;
  }
  
  .btn {
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .text {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }